a{
  text-decoration: none;
}

/*Start styles for the top navbar */
.top {
  position: fixed;
  margin: 0;
  padding: 0;

  width: 100%;
  top: 10px;
  right: 10px;
}

.top ul {
  list-style-type: none;
  float: right;
  }
.top li{
  float:left;
  margin:0 10px;
  display: inline;
  vertical-align: middle;
  line-height:  24px;
}
.top li a {

  color: #000;
  font-size: 13px;
  font-family: Arial;
  vertical-align: middle;
}
.more-apps {
  position: relative;
  top:4px;
  display:block;
}
.line{
  clear:both;
}

.box {
  float:left;
  width: 4px;
  height:4px;
  margin:1px;
  background-color: #2f2f2f;
}
.sign-in {
  background-color: #4285f4;
  color: white;
  padding: 0px 15px;
  font-weight: bold;
  border-radius: 5%;
}
/*End styles for the top navgar */

/*Start on the main body of the search*/
.body {
  margin: 200px auto;
  width: 50%;
}
.body img {
  display: block;
  margin: auto;
}

#search {
  margin: 10px;
  width: 100%;
  border: none;
}
#outer-box{
  margin: 50px auto 25px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
.perform-search {
  margin: 0 25%;
  width: 50%;
}
.perform-search input {
  border-radius: 0;
  padding: 10px 15px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #757575;
  background-color: #f2f2f2;
  border: none;
  box-shadow: none;
}

.perform-search input:hover {
  border: 1px solid #d9d9d9;
}

/*End styles for main body*/

/*Begin styles for footer*/
.footer {
  position:fixed;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
  vertical-align: middle;
  padding: 8px 13px;
}
.footer li {
  display: inline;
  float: left;
  margin: 3px 10px;
  font-size: 13px;
  padding: 5px;
  font-family: arial, sans-serif;
}
.footer a {
  color: #757575;
}
.footer-right li {
  float: right;
}
.footer-right {
  position: absolute;
  right: 30px;
}
.footer a:hover{
  text-decoration: underline;
}
