.body {
  margin: 100px auto;
  width: 50%;
}
.body img {
  display: block;
  margin: auto;
}

#search {
  margin: 10px;
  width: 100%;
  border: none;
}
#outer-box{
  margin: 50px auto 25px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
.perform-search {
  margin: 0 25%;
  width: 50%;
}
.perform-search input {
  border-radius: 0;
  padding: 10px 15px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #757575;
  background-color: #f2f2f2;
  border: none;
  box-shadow: none;
}
.perform-search input:hover {
  border: 1px solid #d9d9d9;
}
